<ion-list>
  <ion-item-sliding *ngFor="let itemList of _WishService.c_lists|booleanLists:c_finish;let i=index" #slidingItem>
    <ion-item-options side="left" >
      <button (click)='EditNameList(itemList,slidingItem)' ion-button icon-only color="primary">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item-options>
    <button ion-item (click)="itemSelected(itemList)">
      {{i}} : {{ itemList.titulo  }}
      <ion-note item-end>
        {{ itemList.items.length }} itemList
      </ion-note>
    </button>
    <ion-item-options side="right">
      <button (click)='_WishService.deleteList(itemList)' ion-button icon-only color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
